---
import Row from './Form/Row.astro';
import FormInput from './Form/Input.astro';
import FormSelectExpeditionCount from './Form/SelectExpeditionCount.astro';
import FormLabel from './Form/Label.astro';
import Promo from '../assets/promo.svg';
import { Image } from 'astro:assets';
import Link from './Link.astro';
---

<form name="registration" method="POST" action="/dziekujemy" data-netlify="true" netlify-honeypot="bot">
    <p class="hidden">
        <label>
            Pole tylko dla robotów<input name="bot" type="text" />
        </label>
    </p>
    <Row>
        <FormInput label="Adres e-mail" type="email" name="email" />
    </Row>
    <Row>
        <FormInput label="Imię" type="text" name="name" attributes={{ maxlength: 100 }} />
    </Row>
    <Row>
        <FormInput label="Nazwisko" type="text" name="surname" attributes={{ maxlength: 100 }} />
    </Row>
    <Row>
        <FormSelectExpeditionCount label="Który raz będziesz na Wyprawie Roboczej?" name="expedition_count" />
    </Row>
    <Row>
        <FormInput label="Co robisz? Co lubisz? Czym się zajmujesz?" type="textarea" name="about" attributes={{ rows: 3, maxlength: 5000 }} />
    </Row>
    <Row>
        <fieldset>
            <FormLabel required={true} text="Czy chcesz poprowadzić na Wyprawie warsztat, wykład lub coś zupełnie innego?" />

            <Image src={Promo} alt="-20% dla osób, które poprowadzą wykład lub warsztat" class="w-full max-w-[560px]" />

            <span class="mt-4 block">
                <label class="mr-4 inline-block"
                    ><input class="mr-2" id="activity_value_yes" name="activity" value="1" type="radio" required />Tak, chętnie!</label
                >
                <label class="mr-4 inline-block"><input class="mr-2" name="activity" value="0" type="radio" required />Nie, wolę słuchać</label>
            </span>
        </fieldset>
    </Row>
    <Row id="activity_description" hidden={true}>
        <FormInput
            label="Super! Krótko opisz swoją propozycję. Daj znać dla ilu osób będzie ta aktywność, jakich warunków (np. przestrzeń) i ile czasu potrzebujesz na jej realizację. Jeśli propozycja zostanie zakwalifikowana do agendy, poprosimy o więcej detali i dostaniesz zniżkę."
            type="textarea"
            name="activity_description"
            required={false}
            attributes={{ rows: 3, maxlength: 5000 }}
        />
    </Row>
    <Row extraClassName="mt-4">
        <FormLabel required={true} text="Akceptuję regulamin">
            <Fragment slot="text">
                Akceptuję <Link url="/regulamin" text="Regulamin" />
            </Fragment>
            <Fragment slot="before">
                <input class="mr-2" type="checkbox" name="terms_and_conditions_acceptance" value="1" required />
            </Fragment>
        </FormLabel>
        <div class="w-full max-w-[560px]">
            Informacje o tym, w jaki sposób przetwarzamy Twoje dane osobowe znajdziesz w <Link url="/polityka-prywatnosci" text="Polityce prywatności" />.
        </div>
    </Row>
    <div class="mt-4 text-center lg:text-left">
        <button
            class="font-body text-nut bg-canary-dark hover:bg-nut-dark hover:text-canary-dark border-canary-dark cursor-pointer rounded-full border-3 px-10 py-3 text-sm font-bold uppercase sm:text-base lg:text-lg"
            type="submit">Wyślij formularz</button
        >
    </div>
</form>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const activityRadios = document.querySelectorAll('input[name="activity"]') as NodeListOf<HTMLFormElement>;
        const activityDescriptionField = document.getElementById('activity_description') as HTMLFormElement;

        if (activityRadios !== null) {
            activityRadios.forEach((radio) => {
                radio.addEventListener('change', () => {
                    if (radio.value === '1' && radio.checked) {
                        activityDescriptionField.classList.add('block');
                        activityDescriptionField.classList.remove('hidden');
                    } else {
                        activityDescriptionField.classList.remove('block');
                        activityDescriptionField.classList.add('hidden');
                    }
                });
            });
        }
    });
</script>
